@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  max-width: 100vw;
}

.fingersize {
  min-width: 1cm;
  min-height: 1cm;
}

.fingersize.short {
  min-height: 0.5cm;
}

.fingersize.wide {
  min-width: 4cm;
}

.digits {
  font-family: monospace;
  font-size: x-large;
}

.disabled {
  filter: grayscale(1);
}

.flexpadding {
  flex-grow: 1;
}

.rtc {
  font-size: xx-large;
}

.Exporter {
  padding: 1cm;
  margin: 1cm;
  border: 1px gray dotted;
}

.Importer {
  padding: 1cm;
  margin: 1cm;
  border: 1px gray dotted;
}

.Importer textarea, .Exporter textarea {
  width: 90vw;
  min-height: 19em;
}