@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fingersize {
  min-width: 1cm;
  min-height: 1cm;
}

.fingersize.short {
  min-height: 0.5cm;
}

.fingersize.wide {
  min-width: 4cm;
}

.digits {
  font-family: monospace;
  font-size: x-large;
}

.disabled {
  filter: grayscale(1);
}

.flexpadding {
  flex-grow: 1;
}