.Timer {
    border: 1px solid red;
    min-width: 100px;
    min-height: 100px;
    padding: 0.25cm;
    margin: 0.5cm;
}
div.timers {
    display: flex;
    flex-direction: row;
}
.addTimer {
    min-width: 5em;
    min-height: 5em;
    text-align: center;
    border-color: green;
    border-width: 2px;
    margin: 0.5cm;
    /* @apply flex items-center place-content-center; */
}
/* .delTimer {
    @apply flex items-center place-content-center;
} */
.Timer .toolbar {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.editcolours .toolbar {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.editcolours {
    display: flex;
    flex-direction: column;
}
.Timer .spacer {
    width: 40px;
}
button {
    border: outset 2px darkgray;
}
.timeleft {
    font-size: xxx-large;
}
.nexttime {
    font-size: xx-small;
}
.timerstage {
    display: inline-block;
    font-size: xx-small;
}
.timerstage .total {
    text-decoration-line: overline;
}
.editstage, .editcolour, .editcolours {
    display: flex;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    padding-block-end: 0.5em;
    border-block-end: 1px solid blue;
}
.editstage, .editcolours {
    border-block-end-width: 5px;
    border-block-end-style: double;
}
.editcolour {
    border-block-end-color: aqua;
}
.editcolour table {
    border: 1px dotted gray;
    border-collapse: collapse;
}
.editcolour table tr,.editcolour table td {
    border: 1px dotted gray;
    padding-block: 0.5em;
}
.timeset {
    display: flex;   
}
.timeset .seperator {
    display: flex;
    flex-direction: column;
}
.timeset .seperator span {
    display: inline-block;
}
.editstage .controls {
    display: flex;
    flex-direction: column;
}
.TimerRun .controls {
    display: flex;
}
input {
    background-color: black;
    padding-left: 3px;
    border: 1px dotted white;
}
.durationicon {
    font-size: x-small;
}
.colourswatch {
    min-height: 1em;
    min-width: 2em;
}