.Timer {
    border: 1px solid red;
    min-width: 100px;
    min-height: 100px;
    padding: 0.25cm;
    margin: 0.5cm;
}
div.timers {
    display: flex;
    flex-direction: row;
}
.addTimer {
    min-width: 5em;
    min-height: 5em;
    text-align: center;
    border-color: green;
    border-width: 2px;
    margin: 0.5cm;
    /* @apply flex items-center place-content-center; */
}
/* .delTimer {
    @apply flex items-center place-content-center;
} */
.Timer .toolbar {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.Timer .spacer {
    width: 40px;
}
button {
    border: outset 2px darkgray;
}
.timeleft {
    font-size: xxx-large;
}
.nexttime {
    font-size: xx-small;
}
.timerstage {
    display: inline-block;
    font-size: xx-small;
}
.timerstage .total {
    text-decoration-line: overline;
}
.timeset {
    display: flex;
    margin-block: 1em;
}
.timeset .seperator {
    display: flex;
    flex-direction: column;
}
.timeset .seperator span {
    display: inline-block;
}
.timeset .controls {
    display: flex;
    flex-direction: column-reverse;
}
.TimerRun .controls {
    display: flex;
}
input {
    background-color: black;
    padding-left: 3px;
    border: 1px dotted white;
}